<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <title></title>
</head>
<body>
    <div id="container">
        <h1>Está é a home</h1>
    </div>
</body>
</html>
