<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/signIn.css" />
</head>
<body>
    <div id="container">
        <form method="POST">
            <fieldset class="login">
                <legend>Login</legend>
                <p class="error">@ViewData["error"]</p>
                <div>
                    <label for="Email">Email:</label>
                    <input required class="email-field" type="email" name="Email" />
                </div>
                <div>
                    <label for="Senha">Senha:</label>
                    <input required class="password-field" type="password" name="Password" />
                </div>
                <div>
                    <input type="submit" value="Submit" class="submit" />
                </div>
            </fieldset>
        </form>
        <div id="criar-conta-txt">
            <a class="" asp-area="" asp-controller="SignUp" asp-action="Index">Criar conta</a>
        </div>
    </div>
</body>
</html>
