.grid-container {
    display: grid;
    grid-template-columns: 10% 30% 10% 12% 10%;
    padding-bottom: 0;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
    justify-content: center;
}

.grid-space {
    margin-top: 3%;
}

#sair {
    margin-left: 90%;
}

.grid-item {
    border: 1px solid #000;
    padding: 1%;
    font-size: 100%;
    text-align: center;
}

#btn-detalhes {
    padding-left: 15%;
}
