#container {
    text-align: center;
    position: absolute;
    width:100%;
    display: inline-block;
    position: relative;
    margin-top: 12%;
}

.email-field {
    margin-left: 0.5%;
}

.submit {
    margin-top: 1%;
    margin-right: 18%;
}

.error {
    color: red;
}

#criar-conta-txt {
    text-color: blue;
}

